<div class="jumbotron"> <!-- puts grey box around things -->
	<h1>Welcome to the brand new app!</h1>
	<p>Click here to sign up <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>